* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #900000;
    overflow: hidden;
}

.navigation {
    background: #fff;
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 100000;
    border-radius: 4px;

    /* to show the border-radius we do this , else the .toggle will overflow */
    overflow: hidden;

    /* increate height and with, the delays are respective to the transition(when moving from active to simple nav, decrease the width immidiately,  and wait for 0.75, then decrease height */
    transition: width 0.5s, height 0.5s;
    transition-delay: 0s, 0.75s;

}

.navigation.active {
    width: 250px;
    height: 350px;
    /* on click, increase height immidiately, then after .75s increase width */
    transition: height 0.5s, width 0.5s;
    transition-delay: 0s, 0.75s;
}

.navigation .toggle {
    background: #ff4081;
    height: 50px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: 0.5s;
    cursor: pointer;

}

.navigation .toggle.active {
    background-color: #152f47
}

.navigation .toggle::before {
    content: '+';
    position: absolute;
    font-size: 2em;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.5s;

}

.navigation .toggle.active::before {
    transform: rotate(315deg);
}

.navigation ul {
    position: absolute;
    left: 0;
    width: 100%;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
}

.navigation ul li:hover {
    background-color: #70e4da;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: #152f47;
    display: flex;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.navigation ul li .icon .fa {
    font-size: 24px;
    color: #152f47;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    /* min-width: 50px; */
    height: 50px;
    line-height: 50px;
    text-align: start;
}

.navigation ul li:hover a .icon .fa,
.navigation ul li:hover a .title {
    color: #fff;
}